footer{
    padding: 5px;
    background-color:#00ff43;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 5px;
    align-items: center;
    text-align: center;
}
svg{
    position: relative;
    width: 150px;
    height:150px;
    z-index: 1000;
}
svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px,5px);
}
svg circle:nth-child(2)
{
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.cardf:nth-child(1) circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 80) / 100);
    stroke:#00ff43;
}
.cardf:nth-child(2) circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 70) / 100);
    stroke:#00a1ff;
}.cardf:nth-child(3) circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 70) / 100);
    stroke: #00a1ff;
}
.cardf:nth-child(4) circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 60) / 100);
    stroke:rgb(219, 133, 5);
}
.cardf:nth-child(5) circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 50) / 100);
    stroke:rgb(219, 133, 5);
}.cardf:nth-child(6) circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 40) / 100);
    stroke: rgb(219, 37, 5);
}

.body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #101010;
}
.containers{
    position: relative;
    width: 900px;
    display:flex;
    justify-content: space-around;
}
.containers .cardf{
    position: relative;
    width: 250px;
    background: linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}
.containers .cardf:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
}
.containers .cardf:before{
    content: '';
    position: absolute;
    top:0;
    left:-50%;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.03);
    pointer-events: none;
    z-index: 1;
}
.percent{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: #222;
    z-index: 1000;
}
.percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.percent .number h2{
    color: #777;
    font-weight: 700;
    font-size: 40px;
    transition: 0.5s;
}
.cardf:hover .percent .number h2{
    color: #fff;
    font-size: 60px;
}
.percent .number h2 span{
    font-size: 24px;
    color: #777;
    transition: 0.5s;
}
.cardf:hover .percent .number h2 span{
    color: #fff;
}
.text{
    position: relative;
    color: #777;
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
}
.cardf:hover .text{
    color: #fff;
}
.background{

    background-color:rgb(54, 54, 54);   
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
}
   
.background-menu{
    padding-bottom: 10px;
    padding-top: 10px;
    background-color:#bdb5b5;
    color:#101010;
}
.nodejs{
    background-color: rgb(138, 196, 0);
}
.sobre{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cent{
 
    text-align: center;
}
.sobre-menu{
    border-radius:50%;
    align-items: center;
    height: 120px;
    width: auto;
}
.content-sobre{
    background-color:rgb(23, 32, 48);
    border-radius: 10%;
    height: auto;
    min-width: 250px;
    font-size: 20px;
    font-family: serif;
    font-weight: lighter;
    color: white;
    
}
.content-sobre2{
    width: 40%;
    display: flex;
}
.destaque{
    background-color:rgb(54, 54, 54);
    padding-top: 10px;
}
.options{
    font-size: 20px;
    font-weight: bolder;
    font-family: serif;
}
.img-rs{
    height: 300px;
    width: 300px;
}
.img-fluid { 
    width: 50%;
    height: auto;
    display: table-cell;
    text-align: center;

    display: block;
  }
  .test-rs{
      background-color: brown;
  }
  .technologies{
      margin-top: 5px;
      align-items: center;
      text-align: center;
      width: 100px;
      height: auto;
    border-radius: 20px;
    }
    .technologies-project{

        margin-top: 10px;
        width: 100px;
        height: auto;
        min-height: 100px;
        border-radius: 20px;
       
      }
      .technologies-project-react{

 
        width: 140px;
        height: auto;
        min-height: 100px;
        border-radius: 20px;
       
      }
.technologies-in{
    margin-top: 5px;
    height: auto;
    width: 200px;
    border-radius: 20px;
}
.technologies-in-Obr{
    margin-top: 5px;
    height: auto;
    width: 270px;
    border-radius: 20px;
}
.btn{
    margin-bottom: 10px;
}
  .rest-ts{
   background-color:rgb(54, 54, 54);
margin-bottom: 0px;
      text-align: center;
      align-content: center;
    padding: 35px;
  }
  .rest-tw{
      align-content: center;
      text-align: center;
      
  }
  .user{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: serif;
    padding-right: 2;
}
.perfil{
    border-radius: 50%;
    margin-right: 10px;  
    width: 60px; 
}

.welcome{
    font-size: 20px;
    font-family: serif;
    font-weight: bold;
}
.imgbanner{
    border-radius: 10%;
    height:450px;
    width: 450px;
    margin: 10px;
}
.digitacao{
    font-size: 30px;
    font-weight: bold;
    font-family: serif;
    text-align: center;
    color: white;
}   
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
 }
 .header h1 {
    font-size: 30px;
    color: black;
 }
 .centralizar {
 display: flex;
  justify-content: center;
  align-items: center;

 }
 .centralizar2{
  
    text-align: center;
    width: 80%;
    padding: 0px;
    
 }
 .cartao{
    background-color: #222;
    font-weight: 600;
    font-family: serif;
    font-size: 17px;
  color: rgb(216, 208, 208);
  border-radius: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
 }
 .centralizar3{
    background-color: #222;
    font-weight: 700;
    font-family: serif;
    font-size: 18px;
  color: rgb(216, 208, 208);
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .test-pr{
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
 .test-pt{
   display: block;
 }
 .test-py{
    position: relative;
     top: -50%
 }
 